@model MOE.Common.Models.DatabaseArchiveExcludedSignal

<div class="col-md-12">
    @Html.HiddenFor(model => model.Id)
    @Html.EditorFor(model => model.SignalId, new {htmlAttributes = new {@class = "form-control"}})
</div>