@model MOE.Common.Models.ViewModel.Chart.DefaultChartsViewModel
@using MOE.Common.Models
<script charset="UTF-8" type="text/javascript" src="www.bing.com/api/maps/mapcontrol?callback=GetMap" async defer></script>
<div id="mapDiv" class="MapDiv"></div>
<script src="~/Scripts/AddData.js"></script>