@{
    ViewBag.Title = "Home Page";
}
<div class="container">
    <div class="jumbotron">
        <h1>Automated Traffic Signal Performance Measures</h1>
        <p class="lead">ATSPM's show real-time and historical functionality at signalized intersections. This allows traffic engineers to directly measure what previously could only be estimated and modeled.</p>
        <p><a href="http://udottraffic.utah.gov/atspm/FAQs/Display" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>


    </div>
    <p>The following are those who have contributed changes to the ATSPM system:</p>
    <div class="partners">

        <img class="partners" src="~/Images/PartnersLogo.jpg" />
    </div>

    <div class="row">
        <div class="col-md-4">
            <h2>Getting started</h2>
            <p>
                You can download the software for our site by clicking the button below.
            </p>
            <p><a class="btn btn-default" href="https://www.itsforge.net/">Download &raquo;</a></p>
        </div>
        <div class="col-md-4">
            <h2>What's New</h2>
            <p>Version 4.0.1 (March 2017)</p>
            <ul>
                <li>Improved Preemption Details chart</li>
                <li>Watchdog Configuration</li>
                <li>User Configuration</li>
                <li>Signal Configuration Report</li>
                <li>Permissive phase charts for Purdue Split Failure and YRA</li>
                <li>FAQ editor</li>
                <li>TMC data table</li>
                <li>Chart axis interval responds to range</li>
                <li>Technician user role</li>
            </ul>
        </div>
        <div class="col-md-4">
            <h2>What's Next</h2>
            <p>UDOT is continually improving and updating the software. Currently we are working on the following features:</p>
            <ul>
                <li>15-minute summary archive database and report</li>
                <li>Improve Route Configuration</li>
                <li>Export data feature</li>
                <li>Permanent link to charts</li>
                <li>Unified FTP Import</li>
            </ul>

        </div>
    </div>
</div>