@model IEnumerable<SPM.Models.SignalDataCheckReportViewModel>

Signal data check complete please note the following results:

@foreach (var check in Model)
{
    <h4>@check.ApproachDescriptions</h4>
    <ul>
        @if (check.InsufficientDetectorEventCount)
        {
            <li> <label class="alert-danger">Insufficient Aggregated Detector Events Found</label></li>
        }
        @if (check.InsufficientCycleAggregation)
        {
            <li> <label class="alert-danger">Insufficient Aggregated Cycle Data Found</label></li>
        }
        @if (check.InsufficientPhaseTermination)
        {
            <li> <label class="alert-danger">Insufficient Termination Data Found</label></li>
        }
        @if (check.InsufficientPedAggregations)
        {
            <li> <label class="alert-danger">Insufficient Aggregated Ped Data Found</label></li>
        }
        @if (!check.InsufficientPedAggregations && !check.InsufficientCycleAggregation && !check.InsufficientDetectorEventCount && !check.InsufficientPhaseTermination)
        {
            if (check.LeftTurnVolumeOk)
            {
                <li>The LT Volumes are below 60 vph you may want to <label class="alert-danger">Check Detector</label></li>
            }
            else
            {
                <li>The LT Volumes are <label class="alert-success">OK</label></li>
            }
            if (check.GapOutOk)
            {
                <li>70% or more of cycles Gap Out you may want to <label class="alert-danger">Check Detector</label></li>
            }
            else
            {
                <li>Gap Out Percentage is <label class="alert-success">OK</label></li>
            }
            if (check.PedCycleOk)
            {
                <li>Pedestrian Cycles are <label class="alert-success">OK</label></li>

            }
            else
            {
                <li>More than 30% of cycles have pedestrian calls you may want to <label class="alert-danger">Review Crash History</label></li>
            }
        }
    </ul>
}
<label class="BoldText">It is always good practice to review the Split Pattern performance in conjunction with using this report.</label>