<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
  </startup>
  <appSettings>
    <!--<add key="ErrorRecipients" value="dlowe@utah.gov, derekjlowe@gmail.com" />-->
    <add key="ParentFolderLocation" value="C:\Temp\ATSPM Executables" />
    <add key="ProjectFolderLocation" value="C:\Projects\ATSPM" />
    <add key="AsyncGetMaxTimeRecordsProjectFolderLocation" value="\AsyncGetMaxTimeRecords" />
    <add key="GetMaxTimeRecordsProjectFolderLocation" value="\GetMaxTimeRecords" />
    <add key="DecodePeekLogsProjectFolderLocation" value="\DecodePeekLogs" />
    <add key="DecodeSiemensLogsProjectFolderLocation" value="\DecodeSiemensLogs" />
    <add key="DecodeTrafficwareLogsProjectFolderLocation" value="\DecodeTrafficwareLogs" />
    <add key="GenerateAddDataScriptProjectFolderLocation" value="\GenerateAddDataScript" />
    <add key="ImportCheckerProjectFolderLocation" value="\ImportChecker" />
    <add key="MOEWcfServiceLibraryProjectFolderLocation" value="\MOEWcfServiceLibrary" />
    <add key="NewDecodeandImportASC3LogsProjectFolderLocation" value="\NewDecodeandImportASC3Logs" />
    <add key="SPMProjectFolderLocation" value="\SPM" />
    <add key="WatchDogProjectFolderLocation" value="\SPMWatchDogNew" />
    <add key="WavetronicsSpeedListenerProjectFolderLocation" value="\WavetronicsSpeedListener" />
    <add key="InstallerProjectFolderLocation" value="\Installer" />
    <add key="ATSPMAPIProjectFolderLocation" value="\ATSPMAPI" />
    <add key="FTPFromAllControllersProjectFolderLocation" value="\FTPfromasc3" />
    
    <add key="AggregateApproachCycleProjectFolderLocation" value="\AggregateApproachCycle" />
    <add key="AggregateApproachPCDCycleProjectFolderLocation" value="\AggregateApproachPCDCycle" />
    <add key="AggregateApproachSpeedProjectFolderLocation" value="\AggregateApproachSpeed" />
    <add key="AggregateApproachSplitFailProjectFolderLocation" value="\AggregateApproachSplitFail" />
    <add key="AggregateDetectorEventCountProjectFolderLocation" value="\AggregateDetectorEventCount" />
    <add key="AggregateLeftTurnGapProjectFolderLocation" value="\AggregateLeftTurnGap" />
    <add key="AggregateSignalEventDataProjectFolderLocation" value="\AggregateSignalEventData" />
    <add key="AggregateSignalPedDelayProjectFolderLocation" value="\AggregateSignalPedDelay" />
    <add key="AggregateSignalPhaseTerminationProjectFolderLocation" value="\AggregateSignalPhaseTermination" />
    <add key="AggregateSignalPlanProjectFolderLocation" value="\AggregateSignalPlan" />
    <add key="AggregateSignalPreemptPriorityProjectFolderLocation" value="\AggregateSignalPreemptPriority" />
    <add key="AggregateSplitMonitorProjectFolderLocation" value="\AggregateSplitMonitor" />
    <add key="AggregateYellowRedActivationProjectFolderLocation" value="\AggregateYellowRedActivation" />
    <add key="Caseiro.Mvc.PagedListProjectFolderLocation" value="\Caseiro.Mvc.PagedList" />
    <add key="ConvertDBForHistoricalConfigurationsProjectFolderLocation" value="\ConvertDBForHistoricalConfigurations" />
    
    <add key="FTPfromAllControllersTestsProjectLocation" value="\FTPfromAllControllersTests" />
    <add key="FTPFromOneControllerProjectFolderLocation" value="\FTPFromOneController" />
    <add key="FTPSClientProjectFolderLocation" value="\FTPSClient" />
    <add key="FTPTimerServiceProjectFolderLocation" value="\FTPTimerService" />
    <add key="GenerateControllerEventLogObjectTextProjectFolderLocation" value="\GenerateControllerEventLogObjectText" />
    <add key="InstallerLibraryProjectFolderLocation" value="\InstallerLibrary" />
    <add key="MOE.CommonProjectFolderLocation" value="\MOE.Common" />
    <add key="MOE.CommonChartTestsProjectFolderLocation" value="\MOE.CommonChartTests" />
    <add key="ArchiveMetricDataProjectFolderLocation" value="\ArchiveMetricData" />
    
    <add key="DeployDebug" value="\bin\Debug\" />
    <add key="DeployRelease" value="\bin\Release\" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
    <!--<add key="ConnectionStringReplacement" value="data source=DatabaseName;initial catalog=MOE;Persist Security Info=False;User ID=ATSPMUserName;Password=ATSPMPassword;MultipleActiveResultSets=True;App=EntityFramework" />-->
    <!--<add key="ConnectionStringReplacement" value="data source=srwtcdevdb;initial catalog=MOE;Persist Security Info=False;User ID=spm;Password=spm;MultipleActiveResultSets=True;App=EntityFramework" />-->
    <add key="ConnectionStringReplacement" value="data source=MoeServer;initial catalog=MoeDatabase;Persist Security Info=False;User ID=spm;Password=spm;MultipleActiveResultSets=True;App=EntityFramework;Connection Timeout=30" />

  </appSettings>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
</configuration>