@model SPM.Models.MeasuresDefaultsViewModel

<div id="ped-delay-options" role="tablist" aria-multiselectable="true" class="card mr-4 ml-4">
    <div class="card-header" role="tab">
        <a onclick="rotate(this)" data-toggle="collapse" data-parent="#ped-delay-options" href="#ped-delay-options-collapse" aria-expanded="false" aria-controls="ped-delay-optionsCollapse">
            <i class="fa fa-chevron-right mr-3" aria-hidden="true"></i> Ped Delay
        </a>
    </div>
    <div id="ped-delay-options-collapse" class="collapse" role="tabpanel">
        <div class="card-body">
            <div class="row p-1">
                <div class="col-9">
                    @Html.LabelFor(model => model.PedDelay.YAxisMax, htmlAttributes: new { @class = "control-label" })
                </div>
                <div class="col-3 text-right">
                    @Html.EditorFor(model => model.PedDelay.YAxisMax, new { htmlAttributes = new { @class = "form-control", placeholder = "Auto" } })
                    @Html.ValidationMessageFor(model => model.PedDelay.YAxisMax, "", new { id = "Description-error", @class = "text-danger" })
                </div>
            </div>
        </div>
    </div>
</div>
