@model MOE.Common.Business.FilterExtensions.FilterMovement
<div class="col-md-12">
    <span>
        @Html.CheckBoxFor(m => m.Include)
        @Html.LabelFor(m => m.Include, Model.Description)        
    @Html.HiddenFor(m => m.MovementTypeId)
    </span>
</div>
