@using MvcCheckBoxList.Model;
@model SPM.Models.AggDataExportViewModel


<div class="panel panel-signal">
    <div class="panel-heading">
        <h5 class="panel-title">
            <a id="Signals" data-toggle="collapse" href="#collapseSignals">
                Signals
            </a>
        </h5>
    </div>
    <div id="collapseSignals" class="panel-body panel-collapse collapse in">
                
        <div id="Routes" class="col-md-12">
            Load Route: @Html.DropDownListFor(m => m.SelectedRouteId, new SelectList(Model.Routes, "Id", "RouteName"), "Select A Route",
                            new {@onchange = "LoadRoute()", @class="form-control"})
            <div id="RouteSignals">
            </div>
        </div>
    </div>
</div>

@section Scripts
{
    <script type="text/javascript" src="~/Scripts/AggregateDataExport.js"></script>
    <script type="text/javascript">
        var urlpathGetRouteSignals = '@Url.Action("CreateMetric", "AggregateDataExport")';
    </script>
}
