@{
    ViewBag.Title = "Home Page";
}
<div class="container">
    <div class="jumbotron">
        <h1>Automated Traffic Signal Performance Measures</h1>
        <p class="lead">ATSPM's show real-time and historical functionality at signalized intersections. This allows traffic engineers to directly measure what previously could only be estimated and modeled.</p>
        <p><a href="http://udottraffic.utah.gov/atspm/FAQs/Display" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>


    </div>
    <p>The following are those who have contributed changes to the ATSPM system:</p>
    <div class="partners">

        <img class="partners" src="~/Images/PartnersLogo.jpg" alt="Logos of all those those who have contributed changes to the ATSPM system " />
    </div>

    <div class="row">
        <div class="col-md-4">
            <h2>Getting started</h2>
            <p>
                You can download the software for our site by clicking the button below.
            </p>
            <p><a class="btn btn-dark" href="https://github.com/udotdevelopment/ATSPM/releases">Download &raquo;</a></p>
        </div>
        <div class="col-md-4">
            <h2>What's New</h2>
            <p>Version 4.3 (May 2022)</p>
            <p>Changes:</p>
            <ul>
                <li>
                    <b>Wait Time Measure</b>
                    <p>New measure calculating the average wait time for vehicles by approach and movement.</p>
                </li>
                <li>
                    <b>Left Turn Gap Report</b>
                    <p>Left turn phasing analysis based on existing gaps, volumes, and critical gap.</p>
                </li>
                <li>
                    <b>Options and Thresholds</b>
                    <p>New admin page with the ability to modify default options and thresholds for all measures.</p>
                </li>
                <li>
                    <b>Additional Improvements</b>
                    <p>- Signals are able to be filtered by Jurisdiction (ownership) and Area (customizable groups)</p>
                    <p>- Added additional information for pedestrian phases in the Signal Configurations page; updates also reflected in the Timing and Actuation measure</p>
                    <p>- Added option to exclude permissive phases from the Timing an Actuation measure charts</p>
                    <p>- Clarified chart text on Left Turn Gap Analysis measure</p>
                    <p>- Additional bug fixes and changes</p>
                </li>
            </ul>
        </div>
        <div class="col-md-4">
            <h2>What's Next</h2>
            <p>Version 5.0 (Anticipated Release: 2023)</p>
            <ul>
                <li>
                    <b>Backend</b>
                    <p>-Migrate to .NET 6.0</p>
                    <p>-Migrate to Entity Framework Core 6.0</p>
                    <p>-Improved API</p>
                </li>
                <li>
                    <b>New Measures</b>
                    <p>-Green-Time Distribution</p> 
                    <p>-Time-Space Diagram</p>
                </li>
                <li>
                    <b>Additional Features</b>
                    <p>-Options to download data in raw or 15-minute aggregated forms</p>
                    <p>-Improved data compression</p>
                </li>
            </ul>
        </div>
    </div>
</div>
