@model Int32?

<div class="col-md-6">
    <button id="ExportData" type="button" class="btn btn-primary">Export Data<span id='RunReportSpinner' class="glyphicon"></span></button>
</div>
You have selected @Model records