@model MOE.Common.Models.AgencyPhaseDirection

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Details</title>
</head>
<body>
<div>
    <h4>AgencyPhaseDirection</h4>
    <hr />
    <dl class="dl-horizontal">
    
        <dt>
            @Html.DisplayNameFor(model => model.Phase)
        </dt>
    
        <dd>
            @Html.DisplayFor(model => model.Phase)
        </dd>
    
    
    </dl>
</div>

</body>
</html>
