@{
    ViewBag.Title = "Home Page";
}
<div class="container">
    <div class="jumbotron">
        <h1>Automated Traffic Signal Performance Measures</h1>
        <p class="lead">ATSPM's show real-time and historical functionality at signalized intersections. This allows traffic engineers to directly measure what previously could only be estimated and modeled.</p>
        <p><a href="http://udottraffic.utah.gov/atspm/FAQs/Display" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>


    </div>
    <p>The following are those who have contributed changes to the ATSPM system:</p>
    <div class="partners">

        <img class="partners" src="~/Images/PartnersLogo.jpg" alt="Logos of all those those who have contributed changes to the ATSPM system " />
    </div>

    <div class="row">
        <div class="col-md-4">
            <h2>Getting started</h2>
            <p>
                You can download the software for our site by clicking the button below.
            </p>
            <p><a class="btn btn-dark" href="https://www.itsforge.net/">Download &raquo;</a></p>
        </div>
        <div class="col-md-4">
            <h2>What's New</h2>
            <p>Version 4.2.3 (January 2020)</p>
            <p>Updated the following libraries:</p>
            <ul>
                <li>New GDOT Left Turn Gap Analysis Metric</li>
                <Li>New Web API</Li>
                <li>Changed the options on Timing And Actuations, to include time before and after the display for the system to look for events</li>
                <li>Fixed several bugs</li>
            </ul>
        </div>
        <div class="col-md-4">
            <h2>What's Next</h2>
            <p>Version 4.2.4 (Anticipated Release Summer/Fall 2020)</p>
            <ul>
                <Li>GDOT to enhance the source code to add an installer program</Li>
                <Li> All pull requests from other entities</Li>
                <li>Higher level dashboards of performance measures using aggregated data</li>
                <li>All pull requests from other entities (github)</li>
                <li>Fix minor bugs</li>
            </ul>
            <p>Version 4.2.5 (Anticipated Summer/Fall 2020)</p>
            <ul>
                <li>Higher level dashboards of performance measures using aggregated data. </li>
                <li>All pull requests from other entities (github).</li>
            </ul>
        </div>
    </div>
</div>