@model MOE.Common.Models.Signal

<tr>
    <td>
        @Html.HiddenFor(m => m.VersionID)
        @Html.HiddenFor(model => model.SignalID)
        @Html.DisplayFor(model => model.SignalDescription)
    </td>       
</tr>
