@model MOE.Common.Business.WCFServiceLibrary.PedDelayOptions
<div class="panel panel-default ">
    <div class="panel-heading">Pedestrian Delay Options</div>
    <div class="panel-body">
        <div class="">
            @Html.LabelFor(model => model.YAxisMax, new { htmlAttributes = new { @class = "control-label" } })
            @Html.EditorFor(model => model.YAxisMax, new { htmlAttributes = new { @class = "form-control", placeholder = "Auto" } })
        </div>
        </div></div>
